/* formatar a região do corpo de uma forma geral */
body {
  /* definir font para Arial, caso não tiver, usar Helvetica ou sans-serif  */
  font-family: Arial, Helvetica, sans-serif;

  /* retirar a borda que vem de padrão do BODY */
  margin: 0%;

  /* definir cor de fundo da página */
  background: #f1e8e8;

  /* organizar página em grid */
  display: grid;

  /* definir espaçamento do grid */
  gap: 60px;

  /* alinhar o grid ao centro */
  justify-items: center;

  /* adicionar uma margem do topo */
  margin-top: 60px;
}

/* formatar imagens gerais */
img {
  /* definir que a imagem não quebre o limite máximo da página   */
  max-width: 100%;

  /* definir imagem como um bloco */
  display: block;
}

/* formatar os links em geral */
a {
  /* retirar sublinhado do link */
  text-decoration: none;
}

/* formatar parágrafos e títulos */
p,
h1,
h2,
h3 {
  /* retirar as margins padrões  */
  margin: 0px;
}

/* definir os parágrafos */
p {
  /* tamanho da fonte */
  font-size: 20px;

  /* altura da caixa da linha */
  line-height: 1.3;
}

/* formatar o menu */
.menu {
  /* formatar para flex, ou sejam, basicamente deixar tudo na mesma linha */
  display: flex;

  /* permitir que os containers quebrem para as proximas linhas */
  flex-wrap: wrap;

  /* distanciar os containers do menu */
  gap: 20px;

  /* alinhar ao meio depois de quebra as linhas */
  justify-content: center;
}

/* formatar os botõezinhos de link no menu */
.menu a {
  /* definir cor do fundo */
  background: #fff;

  /* espaçamento das bordas internas */
  padding: 15px 30px;

  /* arredondamento das bordas */
  border-radius: 4px;

  /* tamanho, tipo e cor da borda   */
  border: 2px solid rgb(245, 242, 242);

  /* cor da fonte */
  color: #000000;

  /* deixa o texto em maiúsculo */
  text-transform: uppercase;
}

/* formatar o conteúdo da página */
.conteudo {
  /* organizarem grid */
  display: grid;

  /* formatar para organizar em duas colunas com tamanhos igualmente espaçados  */
  grid-template-columns: 1fr 1fr;

  /* tamanho máximo */
  max-width: 1000px;
}

/* formatar o sobre */
.sobre {
  /* cor de fundo */
  background: #ffffff;

  /* borda interna */
  padding: 40px;

  /* texto alinhado ao centro */
  text-align: right;

  /* definir que a posição do container é relativo */
  position: relative;

  /* organizar em grid */
  display: grid;

  /* centralizar o container ao centro */
  align-content: center;

  /* espaçamento entro os containers */
  gap: 20px;

  /* centralizar os containers a direita */
  justify-items: end;
}

/* formatar o link de saiba mais  */
.sobre a {
  /* cor de fundo */
  background: rgb(204, 46, 31);

  /* cor da fonte */
  color: #ffffff;

  /* borda interna */
  padding: 15px 30px;

  /* arredondamento da borda */
  border-radius: 4px;

  /* texto em maiúsculo */
  text-transform: uppercase;
}

/* formatar o detalhezinho decorativo */
.detalhe {
  /* largura do traço */
  width: 60px;

  /* altura do traço */
  height: 4px;

  /* cor do traço */
  background: rgb(204, 46, 31);

  /* definir que a posição do traço seja acima de tudo */
  position: absolute;

  /* distanciamento do top em relação do container sobre, pois sobre esta com posição relativa */
  top: 30px;

  /* distanciamento da direita em relação ao container sobre, invadir um pouco o espaço da imagem a direita */
  right: -30px;
}

/* formatar imagem grande */
.hutao {
  /* diminuir o tamanho */
  max-width: 80%;

  /* centralizar a imagem dentro do grid */
  justify-self: center;
}

/* formatar o titulo avulso */
.skills {
  /* tamanho da fonte */
  font-size: 64px;

  /* texto maiúsculo */
  text-transform: uppercase;

  /* definir a cor, com transparência */
  color: rgba(0, 0, 0, 0.2);

  /* alinhamento do texto */
  text-align: right;

  /* borda interna */
  padding: 40px;

  /* alinhar o container ao centro */
  align-self: center;
}

/* formatar a região de mais detalhes */
.skillset {
  /* cor de fundo */
  background: #fff;

  /* borda interna */
  padding: 40px;
}

/* formatar os itens dos detalhes */
.skills-item {
  /* formaar em grid */
  display: grid;

  /* definir 2 colunas de grid */
  grid-template-columns: auto 1fr;

  /* espaçamento entre os containers */
  gap: 10px 20px;

  /* borda interna */
  padding: 10px;
}

/* formatar o texto dos detalhes para que fique na segunda coluna do grid */
.skills-item p {
  grid-column: 2;
}

/* formatar rodapé */
.rodape {
  /* tamanho de 100% da tela, porém estoura e aparece uma barrinha para ir pro lado */
  width: 100%;

  /* alinhamento do texto ao centro */
  text-align: center;

  /* cor de fundo */
  background: rgb(112, 31, 31);

  /* cor do texto */
  color: #ffffff;

  /* borda interna */
  padding: 40px;

  /* tirar o estouro do tamanho para não ter mais a barrinha de ir para o lado */
  box-sizing: border-box;
}

/* formatar um dos tipos de títulos */
h3 {
  /* tamanho de fonte */
  font-size: 25px;

  /* alinha o container ao centro */
  align-self: center;
}

/* formatar o titulo da página */
.titulo {
  /* centralizar os textos de título e subtítulo ao centro */
  text-align: center;
}

/* formatar subtítulo */
.titulo h2 {
  /* cor do texto */
  color: rgb(184, 49, 49);
}
