* {
  font-family: Arial;
}

body {
  margin: 50px;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0px;
}

div {
  background: #111;
  color: #fff;
  border-radius: 4px;
  padding: 30px;
  margin: 20px;
}

p {
  color: #b2b2b2;
}

span {
  color: #febe01;
}

a {
  color: #332200;
  text-decoration: none;
  font-size: 1em;
}

button {
  border-radius: 4px;
  background: #febe01;
  padding: 10px;
  font-size: 1em;
}

button:hover {
  color: #b2b2b2;
  background: #f7ba04b7;
}
